{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true,
    "spread": true
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "plugins": [
    "react",
    "mocha"
  ],
  "rules": {
    "comma-dangle": [2, "never"],
    "indent": [2, 2],
    "react/sort-prop-types": 1
  }
}
