.#{$module}card {
  border: 1px solid $border-color;
  display: block;
  float: left;
  margin: 16px;
  min-height: 400px;
  padding: 16px;
  position: relative;
  width: 450px;

  @media screen and (min-width: $breakpoint-medium) {
    display: table-cell;
  }

  .title {
    margin: 0px 0px 21px 22px;
  }

  .show-more {
    font-size: 18px;
    position: absolute;
    bottom: 12px;
  }

  .source {
    color: #006621;
    margin: 0;
  }

  .snippet {
    height: 22px;
    overflow: hidden;
    margin: 5px;
  }

  .#{$module}list-item {
    padding: 8px 4px;
  }
}
