.#{$module}card {
  background-color: #FFF;
  border: 1px solid #eee;
  border-radius: 2px;
  overflow: hidden;
  padding-bottom: 6px;
  min-height: 440px;
  position: relative;

  >h4, >ul, >div {
    padding: 8px 16px;
  }

  .show-more {
    font-size: 16px;
    position: absolute;
    bottom: 8px;
  }

  .source {
    color: #006621;
  }
}
