.#{$module}card {
  display: block;
  float: left;
  margin: 0 auto;
  position: relative;

  @media screen and (min-width: $breakpoint-medium) {
    margin: 16px;
    width: 450px;
  }

  >header {
    background-color: #5377af;
    color: #FFF;
    font-size: 16px;
    font-weight: 900;
    padding: 14px;
    text-align: center;
  }

  >footer {
    background-color: #FFF;
    font-size: 14px;
    font-weight: 900;
    padding: 10px;
    text-align: center;
    border: 1px solid #eee;
    border-top: none;
  }

  >.content {
    border: 1px solid #eee;
    border-top: none;
    border-bottom: none;
    height: 550px;
    padding-top: 12px;
    z-index: 1001;

    @media screen and (min-width: $breakpoint-medium) {
      padding: 12px;
    }
  }

  .no-match {
    color: #444;
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 30px;

    i {
      font-size: 48px;
    }
  }
  p {
    margin: 0;
  }
}