.#{$module}checkbox-tree {
  .list-group-item {
    margin-top: 0;
    border: 0;
    padding: 5px 15px;
  }

  fieldset {
    border: 0;
  }

  legend {
    font-size: 14px;
    border: 0;
    margin: 0;
  }

  .list {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .list-item {
    margin-top: 0;
    border: 0;
    padding: 5px 15px;
    position: relative;
    display: block;

    input[type="checkbox"] {
      margin-left: -20px;
    }

    > label {
      cursor: pointer;
      font-weight: normal;
      padding-left: 20px;
      min-height: 20px;
    }
  }

  a {
    text-decoration: none;

    &:before, &.collapsed:before {
      @extend .mi-icon;
      margin-right: 10px;
    }

    &.collapsed:before {
      @extend .mi-icon-angle-up;
    }

    &:before {
      @extend .mi-icon-angle-down;
    }
  }
}
