.#{$module}form {
  @extend .uk-form;

  hr {
    border-style: none none solid none; // reset border
    border-color: $border-color;
  }
}

.#{$module}keyword {
  @extend .uk-button-group;
  display: table;
  border-collapse: collapse;

  >input[type=text] {
    vertical-align: top;
    display: table-cell;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  >span {
    vertical-align: top;
    margin: 0;
    display: table-cell;
    width: 48px;

    >button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: -1px;
    }
  }
}

.#{$module}form-expanded {
  padding-top: 15%;

  form {
    min-height: 300px;
  }

  .#{$module}header {
    text-align: center;
    font-weight: 700;
    line-height: 50px;
    vertical-align:middle;
    padding-bottom: 36px;
  }

  .#{$module}keyword {
    font-size: 20px;
    margin: 0 auto;
    width: 720px;

    >input {
      @extend .uk-form-large;
    }

    >span>button {
      @extend .uk-button-large;
    }
  }
}

.#{$module}form-condensed {
  display: table;
  padding: 24px 0px 12px 22px;
  margin-bottom: 24px;
  vertical-align: middle;
  width: 98%;

  >div {
    display: table-cell;
    padding-right: 22px;
    width: 250px;
    vertical-align: middle;
  }

  >form {
    display: table-cell;
  }

  .#{$module}header {
    white-space: nowrap;
    width: inherit;
  }

  .#{$module}keyword {
    font-size: 14px;
    max-width: 640px;
    min-width: 560px;
  }
}

.#{$module}keyword {
  display: table;
  float: none;
  display: table;

  input {
    display: table-cell;
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
  }

  >span {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
  }

  .#{$module}keyword-button {
    background-color: $success-color;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #FFF;
    margin-left: -1px;
    z-index: 2;
  }
}

@media screen and (min-width: 36em) {
  .#{$module}form-expanded {
    .#{$module}header {
      font-size: 45px;
    }

    .#{$module}header-version {
      font-size: 20px;
    }
  }
}
