.#{$module}navbar {
  line-height: 70px;
  height: 75px;
  background-color: $header-color;
  border-bottom: 4px solid #4cae4c;
  margin-bottom: 20px;
  z-index: 1000;

  .#{$module}brand {
    padding: 15px 15px;
  }
}
