.#{$module}navbar {
  line-height: 70px;
  height: 75px;
  padding-top: 0;
  background-color: $header-color;
  border-radius: 0;
  border-bottom: 4px solid #4cae4c;

  .#{$module}container {
    width: 98%;
  }
}

.#{$module}navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}