.#{$module}result-item {
  padding: 16px 5px 6px 10px;
  width: 96%;

  .title {
    font: 500 normal 1.375em Lato,sans-serif;

    a {
      color: #248dc1;
    }
  }

  .url {
    font: 300 normal 1em Lato,sans-serif;

    a {
      color: $success-color;
    }
  }

  .snippet {
    font: normal normal 1.125em 'Lato', sans-serif;
    line-height: 23px;
  }

  .meta {
    font-size: $small;
    color: $warning-color;
    li {
      display: inline-block;
    }
  }
}