.#{$module}result-list-item {
  padding: 16px 48px 6px 10px;

  .title {
    font: 500 normal 1.375em Lato,sans-serif;
    margin-bottom: 8px;

    a {
      color: #248dc1;
    }
  }

  .url {
    font: 300 normal 1em Lato,sans-serif;
    margin-top: 5px;

    a {
      color: #4cae4c;
    }
  }

  .snippet {
    font: normal normal 1.125em 'Lato', sans-serif;
  }

  .meta {
    font-size: $small;
    color: $warning-color;
    li {
      display: inline-block;
    }
  }
}