.mi-result-item {
  header {
    font-size: 30px;
    line-height: 33px;

    a {
      color: #226DAF;
    }
  }

  a {
    color: #2A732A;
  }
}

.mi-card-item {
  header {
    font-size: 18px;
    margin-bottom: 7px;
  }

  p {
    line-height: 22px;
    max-height: 62px;
    overflow: hidden;
  }
}