.mi-result-item {
  header {
    font-size: 22px;
    line-height: 33px;

    a {
      color: #226DAF;
    }
  }

  a {
    color: #2A732A;
  }
}

.mi-card-item {
  height: 90px;
  overflow: hidden;
  header {
    font-size: 16px;
    max-height: 24px;
    margin-bottom: 5px;
    overflow: hidden;
  }
  p {
    line-height: 22px;
    max-height: 46px;
    overflow: hidden;
  }
}