@import "./../../../../scss/variable";
@import "./filter";
@import "./content";

.mi-search {
}

.mi-search__form-container {
  background-color: #f1f1f1;
  border-bottom: 1px solid #E5E5E5;
}

.mi-search__query-expansion-list-container {
  min-height: 40px;

  @media screen and (min-width: $breakpoint-medium) {
    margin-left: 300px;
  }
}

.mi-search__main-container {
  border-top: 1px solid $border-color;
  padding-top: 20px;
  margin: 0 auto;
  width: 96%;

  @media screen and (min-width: $breakpoint-medium) {
    margin-left: 27px;
  }
}

.mi-search__filter-container + .mi-search__content-container {
  @media screen and (min-width: $breakpoint-medium) {
    margin-left: 300px;
  }
}

.mi-search__bucket-list-container {
  @media screen and (min-width: $breakpoint-medium) {
    margin-left: 300px;
  }
}