.mi-form {
  border-collapse: collapse;
  display: table;
  font-size: 16px;
  margin: 0 auto;
  width: 96%;
  max-width: 640px;

  &__field {
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #444;
    display: table-cell;
    float: left;
    font-size: 18px;
    height: 46px;
    line-height: 1.5;
    padding: 10px 16px;
    width: 100%;
    vertical-align: top;

    &:focus {
      border-color: #99baca;
      outline: 0;
      background: #f5fbfe;
      color: #444;
    }
  }

  &__submit {
    display: table-cell;
    margin: 0;
    vertical-align: middle;
    width: 48px;

    button {
      background-color: $blue-color;
      border: none;
      box-sizing: border-box;
      color: #FFF;
      font-size: 18px;
      height: 46px;
      line-height: 46px;
      margin-left: -1px;
      padding: 0 16px;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;

      @include appearance(none);
    }
  }
}
