@import "../../../scss/variable";

.#{$module}card {
  display: block;
  float: left;
  margin: 0 auto;
  position: relative;
  width: 100%;

  @media screen and (min-width: $breakpoint-medium) {
    margin: 14px 0 16px 14px;
    min-width: 414px;
    max-width: 460px;
    width: 44%;
  }

  >header {
    background-color: #5377af;
    color: #FFF;
    font-size: 16px;
    font-weight: 900;
    padding: 14px 5px;
    text-align: center;
  }

  >footer {
    background-color: #FFF;
    font-size: 14px;
    font-weight: 900;
    padding: 10px 2px;
    text-align: center;
    border: 1px solid #eee;
    border-top: none;
  }

  >.#{$module}content {
    border: 1px solid #eee;
    border-top: none;
    border-bottom: none;
    height: 550px;
    padding-top: 12px;
    z-index: 1001;

    @media screen and (min-width: $breakpoint-medium) {
      padding: 12px;
    }
  }

  .no-match {
    color: #444;
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 30px;

    i {
      font-size: 48px;
    }
  }
  p {
    margin: 0;
  }
}