@import "../../../scss/uikit";
@import "../../../scss/variable";

$form-focus-border: #99baca !default;
$form-focus-background: #f5fbfe !default;
$form-focus-color: #444 !default;

  .mi-form {
    border-collapse: collapse;
    display: table;
    font-size: 16px;
    margin: 0 auto;
    width: 96%;
    max-width: 640px;

    @media screen and (min-width: $breakpoint-medium) {
      margin: 0;
    }
  }

  .mi-form__input {
    border: 1px solid #ccc;
    border-radius: $border-radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
    color: #444;
    display: table-cell;
    float: left;
    font-size: 18px;
    height: 46px;
    line-height: 1.5;
    padding: 10px 16px;
    width: 100%;
    vertical-align: top;

    &:focus {
      border-color: $form-focus-border;
      outline: 0;
      background: $form-focus-background;
      color: $form-focus-color;
    }
  }

  .mi-form__submit {
    display: table-cell;
    margin: 0;
    vertical-align: middle;
    width: 48px;

    .mi-form__submit__button {
      background-color: $blue-color;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      color: #FFF;
      font-size: 18px;
      height: 46px;
      line-height: 46px;
      margin-left: -1px;
      padding: 0 16px;
    }

  }
