@import "../../../scss/variable";

.mi-header {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;

  a, a:hover, a:active {
    color: $header-color;
    text-decoration: none;
  }

  .mi-header-version {
    color: $blue-color;
    font-size: 13px;
    font-weight: 700;
  }

  span {
    white-space: nowrap;
  }

  @media screen and (min-width: $breakpoint-medium) {
    font-size: 18px;
    margin-bottom: 0;
    white-space: nowrap;
    width: inherit;
  }
}

.mi-form-expanded {
  .mi-header {
    text-align: center;
    font-weight: 700;
    line-height: 50px;
    vertical-align:middle;
    padding-bottom: 36px;
    font-size: 22px;

    @media screen and (min-width: $breakpoint-medium) {
      font-size: 45px;
    }
  }

  .mi-header-version {
    font-size: 13px;

    @media screen and (min-width: $breakpoint-medium) {
      font-size: 20px;
    }
  }

}