.mi-tpp-rates {
  cursor: pointer;

  &__annual-rates {
    border-collapse: collapse;
    th, td {
      border: 1px solid #ddd;
      padding: 7px;
    }
    &__label {
      font-weight: bold;
    }
  }

  &__expander {
    background-color: #D8E2EC;
    margin-top: 9px;
    text-align: center;
    width: 100%;
  }

  &:hover {
    .mi-tpp-rates__expander {
      background-color: #015ba7;
      color: #EEE;
    }
  }
}
