body,
.pure-g [class*="pure-u"],
.pure-g-r [class*="pure-u"] {
  font-family: $font-family-base;
}

.pure-form {
  input[type="text"] {
    box-shadow: none;
  }

  input:not([type]) {
    border: none;
    box-shadow: none;
    padding: 0;
  }
}
