$module: 'mi-';
$font-family-base: 'Lato', sans-serif;

$success-color: rgb(28, 184, 65);
$error-color: rgb(202, 60, 60);
$warning-color: rgb(223, 117, 20);
$secondary-color: rgb(66, 184, 221);
$border-color: #EEE;
$header-color: #32404e;

$screen-sm-min: 568px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
$screen-xl-min: 1280px;

$small: 10px;

$border-radius: 6px;