$font-family-base: 'Lato', sans-serif;

$success-color: #308430;
$border-color: #EEE;
$header-color: #32404e;
$blue-color: #015ba7;
$red-color: #7C0708;

$border-radius: 0px;

$breakpoint-small: 480px !default;
$breakpoint-medium: 768px !default;
$breakpoint-large: 960px !default;
$breakpoint-xlarge: 1220px !default;
