@import url("http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext");

@import "bower_components/pure/pure-min";
@import "bower_components/components-font-awesome/scss/font-awesome";
@import "node_modules/react-select/dist/react-select";
@import "./spinner";
@import "./_variable";
@import "./components/_typography";
@import "./components/_navbar";
@import "./components/_header";
@import "./components/_footer";
@import "./components/_card";
@import "./components/_list";
@import "./components/_control";
@import "./components/_button";
@import "./components/_checkbox-tree";
@import "./components/_pagination";
@import "./components/_result-list";
@import "./components/_result-list-item";

html {
  font-family: $font-family-base;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}

#main {
  padding: 30px 15px 0;
  min-height: 280px;
}

.searchbar {
  padding-bottom: 16px;
  margin-bottom: 20px;
}

.search-message {
  border-bottom: 1px solid $border-color;
}

.keyword-input {
  &.expanded {
    border-right: 1px solid $border-color;
    height: 300px;

    button {
      padding-bottom: 11px;
    }
  }

  &.condensed {
    border-right: 1px solid $border-color;
    button {
      padding-bottom: 7px;
    }
  }
}

.category-input {
  .Select {
    margin-top: 12px;
    margin-bottom: 14px;
  }
  .separator {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .submit {
    margin-top: 12px;
  }
}

.cards {
  padding-top: 26px;
  border-top: 1px solid #eee;
}


#filters {
  margin-top: 10px;
  border-right: 1px solid $border-color;
  width: 100%;
}