@import url("http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext");
$font-family-base: 'Lato', sans-serif;

@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "bower_components/components-font-awesome/scss/font-awesome";
@import "node_modules/react-select/dist/react-select";
@import "./spinner.scss";
@import "./_variables";
@import "./components/_grid";
@import "./components/_navbar";
@import "./components/_header";
@import "./components/_footer";
@import "./components/_card";
@import "./components/_list";
@import "./components/_controls";
@import "./components/_checkbox-tree";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;

  >.mi-container {
    padding: 30px 15px 0;
    min-height: 280px;
  }
}

.searchbar {
  padding-bottom: 16px;
  margin-bottom: 20px;
}

.search-message {
  border-bottom: 1px solid $border-color;
}

.keyword-input {
  &.expanded {
    border-right: 1px solid $border-color;
    height: 300px;

    button {
      padding-bottom: 11px;
    }
  }

  &.condensed {
    border-right: 1px solid $border-color;
    button {
      padding-bottom: 7px;
    }
  }
}

.category-input {
  .Select {
    margin-top: 12px;
    margin-bottom: 14px;
  }
  .separator {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .submit {
    margin-top: 12px;
  }
}

.cards {
  padding-top: 26px;
  border-top: 1px solid #eee;
}


#filters {
  margin-top: 10px;
  border-right: 1px solid $border-color;
  width: 100%;
}

.filter {
  width: 95%;
  border-bottom: 1px solid $border-color;

  .overflow {
    max-height: 180px;
    overflow-y: auto;
  }

  .list-group-item {
    margin-top: 0;
    border: 0;
    padding: 5px 15px;

  }

  legend {
    font-size: inherit;
    border: 0;
    margin: 0;
  }

  a {
    text-decoration: none;

    &.collapsed:before {
      font-family: FontAwesome;
      content: '\f105';
      margin-right: 10px;
    }

    &:before {
      font-family: FontAwesome;
      content: '\f107';
      margin-right: 10px;

    }

  }
}

.articles {
  .article {
    margin-bottom: 35px;
    .title {
      font: 500 normal 1.375em Lato,sans-serif;
      a {
        color: #248dc1;
      }
    }
    .url {
      font: 300 normal 1em Lato,sans-serif;
      a {
        color: #4cae4c;
      }
    }
    .snippet {
      font: normal normal 1.125em 'Lato', sans-serif;
    }
  }
}
