@import url("http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext");
@import "node_modules/react-select/dist/react-select";
@import "./uikit";
@import "./spinner";
@import "./variable";
@import "./font";

// @import "./components/_typography";
@import "./components/navbar";
@import "./components/header";
@import "./components/footer";
@import "./components/form";
@import "./components/card";
@import "./components/list";
@import "./components/control";
@import "./components/button";
@import "./components/checkbox-tree";
@import "./components/pagination";
@import "./components/result-list";
@import "./components/result-list-item";


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
  font-size: 14px;
  font-family: $font-family-base;
}

input[type=text] {
  border: 1px solid #ccc;
  border-radius: $border-radius;
}

.search-message {
  border-bottom: 1px solid $border-color;
  margin-bottom: 15px;
}

.keyword-input {
  &.expanded {
    height: 300px;

    button {
      padding-bottom: 11px;
    }
  }

  &.condensed {
    border-right: 1px solid $border-color;
    button {
      padding-bottom: 7px;
    }
  }
}

.category-input {
  .Select {
    margin-top: 12px;
    margin-bottom: 14px;
  }
  .separator {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .submit {
    margin-top: 12px;
  }
}

.cards {
  padding-top: 26px;
  border-top: 1px solid #eee;
}


#filters {
  margin-top: 10px;
  border-right: 1px solid $border-color;
  width: 100%;
}

#index {

}

#search {

}
